footer {
  padding: 100px;
  
}

.silver_bg {
  background-color: #cdd2dc;
  display: flex;
  justify-content: center;
  padding: 20px;

}

.footer-logo {
  max-width: 400px
}

.footer-txt {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

}

.footers-left>p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;

}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-foot {
  padding: 10px;
  width: 65%;
}

.sign-up {
  border: solid;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
  width: 35%;
}

.sign-up:hover {
  background-color: #7e7981;
  color: #ffffff;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.socials {
  padding: 10px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;

}

.socials a {
  color: #000;
  text-decoration: none;
  font-size: 20px;

}


.footer-center {
  margin-bottom: 20px;
  top: 20px;
  text-align: center;
  padding: 20px;
  width: 300px;
  right: 20px;
  user-select: none;
}

.footer-customer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.care {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links a {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  color: #000;
}

.footer-links a:hover {
  color: salmon;
  transition: color 0.8s ease;
}


.order-assistance {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  user-select: none;
}


.btn {
  margin-top: 10px;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px solid black;
  margin: 5px;
  cursor: pointer;
  width: 100%;

}

.btn:hover {
  background-color: #474747;
  color: #fff;
  transition: color 0.8s ease;
  transition: background-color 0.8s ease;

}

.accessibility {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  user-select: none;
}

.accessibility a {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  margin-top: 5px;
  color: #000;
}

.accessibility a:hover {
  color: #474747;
  transition: color 0.6s ease;

}

.copyright {
  font-size: 16px;
  text-align: center;
  color: #000;
  user-select: none;

}

.copyright a {
  text-decoration: none;
  color: #796777;
  position: relative;
  text-indent: 1.6em;

}

.links-pay a:after {
  content: '';
  display: block;
  width: 0.1rem;
  height: 1em;
  margin-left: 0.7rem;
  background-color: #796777;
  position: absolute;
  top: 50%;
  right: -0.18rem;
  transform: translateY(-50%);
}

.links-pay>a:last-child::after {
  display: none;
}



.bank {
  display: flex;
  width: 100%;
  margin: 20px 0;
  height: 15%;
  width: 15%;
  margin: 15px 0;
}

.bank > img {
  width: 500%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5px;

  background-color: #fff;
}

.bank > img:first-child:hover {
  scale: 0.8;
}